{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Single Page -->
    <main class="single-page">
        <!-- Page Header -->
        <div class="page-header">
            <h2>.<span>resume</span></h2><br><br>
            <div class="timeline-right">

            - I am a problem-solver with a creative edge,<br>
            - I develop turnkey solutions that use machine learning to support strategic decision-making,<br>
            - I have strong communication skills,<br>
            - I work well in collaborative team environments,<br>
            - I am flexible and adaptable to changing circumstances. <br><br><br>
            </div>
            <div class="template-btn">
                <a href="{% url 'cvApp:contact' %}" class="pointer-href">Contact me</a>
                <a href="#" class="pointer-href">Download CV</a>
            </div>
        </div> <!-- Page Header End -->

        <div class="separator"></div>
        <div class="resume-wrapper">
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                    <div class="resume-content-left">
                        <!-- Education Timeline -->
                        <div class="education subtitle mb-70">
                            <h3 class="mb-40">.<span>education</span></h3>
                            <div class="timeline clearfix">
                                <div class="timeline-item clearfix">
                                    <div class="timeline-left">
                                        <h6 class="item-period body-font">2014 - 2015</h6>
                                        <span class="item-company">Institut Teccart (Montreal)</span>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="timeline-right">
                                        <h6 class="item-title body-font">Computer Applications Development Diploma (AEC)</h6>
                                        <p>● Algorithms and structured programming : 90H, ● Database application : 105H. ● Object-based programming : 90H, ● Linux : 75H ...
                                            <br> <a  class="pointer-href" href="https://www.teccart.qc.ca/computer-management-aec.php" target="_blank">READ MORE >>></a></p>
                                    </div>
                                </div>
                                <div class="timeline-item clearfix">
                                    <div class="timeline-left">
                                        <h6 class="item-period body-font">2013 – 2014</h6>
                                        <span class="item-company">UQAM (Montreal)</span>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="timeline-right">
                                        <h6 class="item-title body-font">Post-Graduate Diploma in Bioinformatics (DESS)</h6>
                                        <p>● INF7213 : Algorithms and discrete structures, ● BIF7000 : Introduction to bioinformatics, ● BIF7001 : Advanced bioinformatics, ● INF7214 : Software development ...
                                            <br> <a  class="pointer-href" href="http://www.bioinfo.uqam.ca/index.php?action=accueil_en" target="_blank">READ MORE >>></a></p>
                                    </div>
                                </div>
                                <div class="timeline-item clearfix">
                                    <div class="timeline-left">
                                        <h6 class="item-period body-font">2006 – 2007</h6>
                                        <span class="item-company">Université Paul Sabatier (Toulouse, France)</span>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="timeline-right">
                                        <h6 class="item-title body-font">M.Sc Statistics Modeling</h6>
                                        <p> ● Data Mining, ● Bayesian statistics, ● Bayesian hierarchical model, ● Numerical modeling and simulation, ● Adaptive dynamics and computer simulations applied to epidemiology</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Timeline - Experience -->
                        <div class="experience subtitle">
                            <h3 class="mb-40">.<span>experience</span></h3>
                            <div class="timeline clearfix">
                                <div class="timeline-item clearfix">
                                    <div class="timeline-left">
                                        <h6 class="item-period body-font">05/2022-Active</h6>
                                        <span class="item-company">Datacenterhitec Inc. (Sudbury, Canada)</span>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="timeline-right">
                                        <h6 class="item-title body-font">Lead Data Scientist (Remote)</h6>
                                        <p>● Lead of analytics vision,</p>
                                        <p>● Delegate tasks,</p>
                                        <p>● Supervise the assessment of all projects.</p>
                                    </div>
                                </div>
                                <div class="timeline-item clearfix">
                                    <div class="timeline-left">
                                        <h6 class="item-period body-font">09/2019 - 04/2022</h6>
                                        <span class="item-company">Hiloenergie (by Hydro-Quebec, Montreal, Quebec)</span>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="timeline-right">
                                        <h6 class="item-title body-font">Senior Data Scientist</h6>
                                        <p>● Build AI solution architecture (MLOps),</p>
                                        <p>● Build package named MLHilo,</p>
                                        <p>● Build client segmentation model.</p>
                                    </div>
                                </div>
                                <div class="timeline-item clearfix">
                                    <div class="timeline-left">
                                        <h6 class="item-period body-font">04/2018 - 08/2019</h6>
                                        <span class="item-company">SSENSE (Montreal, Canada)</span>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="timeline-right">
                                        <h6 class="item-title body-font">Senior Data Scientist</h6>
                                        <p>● Build the data processing pipeline,</p>
                                        <p>● Build an econometric model,</p>
                                        <p>● Build a customer lifetime value (CLTV).</p>
                                    </div>
                                </div>
                                <div class="timeline-item clearfix">
                                    <div class="timeline-left">
                                        <h6 class="item-period body-font">06/2017 – 04/2018</h6>
                                        <span class="item-company">Syntell Inc/ iA Financial Group (Québec, Canada)</span>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="timeline-right">
                                        <h6 class="item-title body-font">Data Scientist</h6>
                                        <p>● Build a Customer analytic model,</p>
                                        <p>● Build a sentiment analysis model,</p>
                                        <p>● BI analysis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="resume-content-right">
                        <!-- Skills -->
                        <div class="skills clearfix">
                            <div class="design-skill subtitle mb-70">
                                <h3 class="mb-40">.<span>AI </span>skills</h3>
                                <div class="single-skill">
                                    <div class="skillbar-title"><span>Deep Learning</span></div>
                                    <div class="skill-bar-percent">80%</div>
                                    <div class="skillbar clearfix" data-parcent="80%">
                                        <div class="skillbar-bar"></div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skillbar-title"><span>Machine Learning</span></div>
                                    <div class="skill-bar-percent">90%</div>
                                    <div class="skillbar clearfix" data-parcent="90%">
                                        <div class="skillbar-bar"></div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skillbar-title"><span>NLP</span></div>
                                    <div class="skill-bar-percent">80%</div>
                                    <div class="skillbar clearfix" data-parcent="80%">
                                        <div class="skillbar-bar"></div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skillbar-title"><span>MLOps (Docker, Jenkins, Git)</span></div>
                                    <div class="skill-bar-percent">60%</div>
                                    <div class="skillbar clearfix" data-parcent="60%">
                                        <div class="skillbar-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="developing-skill subtitle">
                                <h3 class="mb-40">.<span>developing </span>skills</h3>
                                <div class="single-skill">
                                    <div class="skillbar-title"><span>Python</span></div>
                                    <div class="skill-bar-percent">90%</div>
                                    <div class="skillbar clearfix" data-parcent="90%">
                                        <div class="skillbar-bar"></div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skillbar-title"><span>Django</span></div>
                                    <div class="skill-bar-percent">80%</div>
                                    <div class="skillbar clearfix" data-parcent="80%">
                                        <div class="skillbar-bar"></div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skillbar-title"><span>HTML/CSS</span></div>
                                    <div class="skill-bar-percent">90%</div>
                                    <div class="skillbar clearfix" data-parcent="90%">
                                        <div class="skillbar-bar"></div>
                                    </div>
                                </div>
                                <div class="single-skill">
                                    <div class="skillbar-title"><span>Javascript</span></div>
                                    <div class="skill-bar-percent">70%</div>
                                    <div class="skillbar clearfix" data-parcent="70%">
                                        <div class="skillbar-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Skills End -->
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- Single page end -->

{% endblock content %}


